<footer>
    <div class="footer-container">
        <div class="">
            <div class="container pt-30 pb-30">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <div class="color-gray-1200"> IMPORTANT INFORMATION ABOUT PROCEDURES FOR
                            OPENING A NEW ACCOUNT: </div>
                        <!-- <div class="mb-30 color-gray-1700"> To help the government fight the funding
                            of terrorism and money laundering activities, and the theft of your identity, Federal law
                            requires all financial institutions to obtain, verify, and record information that
                            identifies
                            each person who opens an account. What this means for you: When you open an account, we will
                            ask
                            for your name, address, tax identification number (social security number or employer
                            identification number), date of birth, and possibly other information that will allow us to
                            identify you. We may also ask to see your driver's license or other identifying documents.
                        </div>
                        <div class="color-gray-1200"> © 2025 Austin Capital Bank SSB. All Rights
                            Reserved. </div>
                        <div class="color-gray-1200">Austin Capital Bank SSB, Member FDIC</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>