<div class="min-height-300 bg-dark position-absolute w-100"></div> <!-- bg dark color -->
<div class="dashboard-container" >
  <div data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
    <app-sidebar class="d-none d-lg-block"></app-sidebar>
  </div>
  <main class="dashboard-content">
    <app-header (toggleSidebarEvent)="toggleSidebar()"></app-header>
    <div class="dashboard-section mb-5">
      <div data-aos="fade-up" data-aos-easing="ease" data-aos-delay="300">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
</div>