@import "../../../styles.scss";

body {
  overflow-x: hidden !important;
}
.min-height-300 {
  min-height: 300px !important;
}
.bg-dark {
  background-color: #344767 !important;
}
.w-100 {
  width: 100% !important;
}
.position-absolute {
  position: absolute !important;
}

.dashboard-container {
  display: flex;

  app-sidebar {
    flex-shrink: 0;
  }

  &.sidebar-shrink {
    .dashboard-content {
      margin-left: 120px !important;
      width: calc(100% - 120px) !important;
      transition: all 0.3s ease-in-out;
    }

    // &:hover {
    //   .dashboard-content {
    //     margin-left: 275px !important;
    //     width: calc(100% - 275px) !important;
    //     transition: all 0.3s ease-in-out;
    //   }
    // }
  }
  .dashboard-content {
    overflow-x: hidden !important;

    @include media-breakpoint-down(md) {
      width: 100%;
      width: -webkit-fill-available;
    }

    @include media-breakpoint-up(md) {
      margin-left: 275px;
        width: calc(100% - 275px);
        transition: all .2s ease-in-out;
      // &.dashboard-expand
      // {
      //   margin-left: 120px;
      //   width: calc(100% - 120px);
      // }
    }

    .dashboard-section {
      padding: 2rem 1rem;
      margin-top: 64px;

      @include media-breakpoint-down(md) {
        margin-top: 68px;
      }
    }
  }
}