<div class="sidebar d-flex flex-column justify-content-between py-4 px-3 pe-1">
  <div class="sidebar-content">

    <!-- Logo -->
    <div>
      <!-- <div class="brand d-flex align-items-center mb-5" routerLink="home">
        <img src="assets/images/logo/logo.png" alt="REVA DRIVE" height="24" />
      </div> -->
      <div class="sidenav-header">
        <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
        <a class="navbar-brand m-0">
          <img src="assets/images/default-image.jpg" width="32px" height="32px" class="navbar-brand-img h-100 me-2" alt="main_logo">
          <span class="ms-1 font-weight-bold">InSetu</span>
        </a>
      </div>

    <hr>

      <!-- Navigation -->
      <ul class="nav flex-column">
        <ng-container *ngFor="let nav of menuItems; let i = index">
          <!-- your normal nav item -->
          <li class="nav-item mb-2">
            <a [routerLink]="nav.path" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link text-dark d-flex align-items-center" [ngClass]="nav.class" (click)="closeSidebar()">
              <i class="{{ nav.icon }} me-2"></i>
              {{ nav.title }}
            </a>
          </li>
          <li *ngIf="i === 1" class="nav-item text-uppercase small text-dark-50 ps-2">
            <hr />
          </li>
        </ng-container>
      </ul>


      <!-- <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a routerLink="home" routerLinkActive="active" class="nav-link text-white d-flex align-items-center"
          (click)="closeSidebar()">
          <i class="bi bi-grid-fill me-2"></i> Dashboard
        </a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="performance" routerLinkActive="active" class="nav-link text-white d-flex align-items-center"
          (click)="closeSidebar()">
          <i class="bi bi-bar-chart-fill me-2"></i> Performance
        </a>
      </li>
      <li class="nav-item text-uppercase small text-white-50 ps-2">
        <hr />
      </li>
      <li class="nav-item mb-2">
        <a routerLink="organization" routerLinkActive="active" class="nav-link text-white d-flex align-items-center"
          (click)="closeSidebar()">
          <i class="bi bi-plus-circle me-2"></i> Create Organization
        </a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="users" routerLinkActive="active" class="nav-link text-white d-flex align-items-center"
          (click)="closeSidebar()">
          <i class="bi bi-plus-circle me-2"></i> Create Users
        </a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="campaign" routerLinkActive="active" class="nav-link text-white d-flex align-items-center"
          (click)="closeSidebar()">
          <i class="bi bi-plus-circle me-2"></i> Create Campaign
        </a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="lead-bank" routerLinkActive="active" class="nav-link text-white d-flex align-items-center"
          (click)="closeSidebar()">
          <i class="bi bi-bank2 me-2"></i> Lead Bank
        </a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="mail-templates" routerLinkActive="active" class="nav-link text-white d-flex align-items-center"
          (click)="closeSidebar()">
          <i class="bi bi-envelope-paper-fill me-2"></i> Mail Templates
        </a>
      </li>
      <li class="nav-item mb-2">
        <a routerLink="mailbox" routerLinkActive="active" class="nav-link text-white d-flex align-items-center"
          (click)="closeSidebar()">
          <i class="bi bi-envelope-fill me-2"></i> Mailbox
        </a>
      </li>
    </ul> -->

    </div>

    <!-- Footer Items -->
    <div>
      <ul class="nav flex-column">
        <li class="nav-item mb-2">
          <a class="nav-link text-dark d-flex align-items-center" (click)="closeSidebar()">
            <i class="bi bi-life-preserver me-2"></i> Help Center
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark d-flex align-items-center" (click)="closeSidebar()">
            <i class="bi bi-gear-fill me-2"></i> Setting
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>