<div class="container">
  <div class="login-wrapper row">
    <!-- Left: Login form -->
    <div class="col-12">
      <div class="row justify-content-between align-items-center">
        <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
          <div class="login-form">
            <!-- <img src="assets/images/logo/logo.png" alt="Revadrive Logo" class="logo" /> -->

            <h3 class="text-bold">Sign In</h3>
            <p class="subtitle">Enter your email and password to sign in</p>

            <form (ngSubmit)="onSubmit()" [formGroup]="Authform">
              <div class="form-group">                
                <input type="email" formControlName="email" id="email" name="email" placeholder="Email" aria-label="Email" class="form-control rounded-2"
                  required />
                  <app-error [control]="Authform.get('email')" [errorMessages]="error_messages.email" />
              </div>
              

              <div class="form-group password-group">                
                <div class="password-wrapper">
                  <input type="password" id="password" formControlName="password" name="password" placeholder="Password" aria-label="Password"
                    class="form-control rounded-2" required />
                  <i class="bi bi-eye-slash password-toggle-icon"></i>
                </div>
                <app-error [control]="Authform.get('password')" [errorMessages]="error_messages.password" />
              </div>
              

              <div class="form-options">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <label class="form-check-label" for="flexSwitchCheckDefault">Remember me</label>
                </div>
                <a href="#">Forgot Password</a>
              </div>
              

              <button type="submit" class="btn btn-primary text-white" routerLink="dashboard/home">Sign in</button>

              <p class="mt-4 mb-4 text-sm mx-auto text-center">
                Don't have an account?
                <a href="javascript:;" class="text-primary text-gradient font-weight-bold">Sign up</a>
              </p>
            </form>            
          </div>
        </div>
        <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 top-0 end-0 text-center justify-content-center flex-column">
          <div class="image-container">
            <img
              src="https://i.etsystatic.com/9975103/r/il/696cfe/3831898760/il_570xN.3831898760_bdd1.jpg"
              alt="QR Scan Me"
              class="QR-img img-fluid"
            />
          </div>
        </div>
        
      </div>


    </div>
  </div>